{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comment Details</h1>
    <p>Content: {{ quack.content }}</p>
    <h2>Responses</h2>
    <ul>
        {% for comment in quack.comments %}
            <li>{{ comment.content }}</li>
        {% endfor %}
    </ul>
    {{ form(formComment) }}
    <a href="{{ path('app_quack_index') }}">back to list</a>
{% endblock %}